body {
    background: linear-gradient(180deg, #0F0C29 -11.94%, #302B63 51.32%, #24243E 113.28%);
    }
    
    p {
    font-size: 20px;
    color: white;
    margin-top: 25px;
    text-align: center;
    
    }
    
    h1 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 165px;
    
    }
    
    
    input {
    width: 342px;
    height: 74px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 17px;
    padding-left: 26px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    outline: none;
    }
    
    button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: black;
    width: 342px;
    height: 74px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    }
    
    button:active{
      opacity: 0.6;
    }
    
    a {
    margin-top: 140px;
    display: block;
    text-align: center;
    font-size: 14px;
    color: white;
    cursor: pointer;
    }
    
    * {
    font-family: 'Roboto', sans-serif;
    }
    
    
    
    




